hydra_app/bvh_builder.ilk
hydra_app/main_app.VC.db
vsgl3/vsgl3.layout
vsgl3/vsgl3.depend
clew/x64/Release/clew.Build.CppClean.log
clew/x64/
hydra_app/.vs/
hydra_app/main_app.VC.VC.opendb
hydra_app/x64/
hydra_drv/x64/
ies_parser/x64/
vsgl3/x64/
