*.user

.vs/
.idea/
x64/

hydra_app/bvh_builder.ilk
hydra_app/main_app.VC.db
hydra_app/main_app.VC.VC.opendb
hydra_drv/shaders/

vsgl3/vsgl3.layout
vsgl3/vsgl3.depend

cmake-build-debug/
cmake-build-release/

hydra_app/CMakeFiles/Makefile.cmake
hydra_app/CMakeCache.txt
hydra_app/Makefile


