hydra_app/bvh_builder.ilk
hydra_app/main_app.VC.db
vsgl3/vsgl3.layout
vsgl3/vsgl3.depend
clew/x64/Release/clew.Build.CppClean.log
clew/x64/
cmake-build-debug/
cmake-build-release/
.idea/
hydra_app/.vs/
hydra_app/main_app.VC.VC.opendb
hydra_app/x64/
hydra_drv/x64/
ies_parser/x64/
vsgl3/x64/
shaderpack/x64/
cmake-build-debug/CMakeFiles/CMakeError.log
.idea/HydraCore.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.vscode/launch.json
.vscode/tasks.json
cmake-build-debug/CMakeCache.txt
cmake-build-debug/HydraAPP_Ex.cbp
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/3.10.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.10.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.10.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.10.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.10.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.10.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.10.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin
cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/main.cpp.o
cmake-build-debug/hydra_app/Makefile
cmake-build-debug/hydra_app/cmake_install.cmake
cmake-build-debug/hydra_app/CMakeFiles/
cmake-build-debug/hydra_app/hydra
cmake-build-debug/hydra_app/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/hydra_app/CMakeFiles/progress.marks
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/CXX.includecache
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/DependInfo.cmake
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/build.make
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/cmake_clean.cmake
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/depend.internal
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/depend.make
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/flags.make
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/input.cpp.o
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/link.txt
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/main_app_console.cpp.o
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/main_app_tests.cpp.o
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/main_app_window.cpp.o
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/progress.make
cmake-build-debug/hydra_app/CMakeFiles/hydra.dir/home/frol/PROG/HydraAPI/main/Timer.cpp.o
cmake-build-debug/hydra_drv/Makefile
cmake-build-debug/hydra_drv/cmake_install.cmake
cmake-build-debug/hydra_drv/libhydra_drv.a
cmake-build-debug/hydra_drv/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/hydra_drv/CMakeFiles/progress.marks
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/Bitmap.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUBilateralFilter2D.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExpLayer.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_GBuffer.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_IntegratorSSS.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_Common.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_LT.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_MLT.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_MMLT.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_PT.cpp.o
cmake-build-release/CMakeFiles/3.10.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_SBDPT.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_ThreeWay.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_TwoWay.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/CXX.includecache
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/DependInfo.cmake
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLData.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLKernels.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLLayer.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLLayerMLT.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLTests.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/IESRender.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/IHWLayerDataAssembler.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/MemoryStorageCPU.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/MemoryStorageOCL.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/PlainLightConverter.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/PlainMaterialConverter.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_AlphaTestTable.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_AuxTextures.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_DebugBVH.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_PdfTables.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_ProcTex.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/bitonic_sort_gpu.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/build.make
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/cl_scan_gpu.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/cmake_clean.cmake
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/cmake_clean_target.cmake
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/depend.internal
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/depend.make
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/flags.make
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/globals_sys.cpp.o
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/link.txt
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/progress.make
cmake-build-debug/hydra_drv/CMakeFiles/hydra_drv.dir/qmc_sobol_niederreiter.cpp.o
cmake-build-debug/shaderpack/Makefile
cmake-build-debug/shaderpack/cmake_install.cmake
cmake-build-debug/shaderpack/shaderpack
cmake-build-debug/shaderpack/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/shaderpack/CMakeFiles/progress.marks
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/CXX.includecache
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/DependInfo.cmake
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/build.make
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/cmake_clean.cmake
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/depend.internal
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/depend.make
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/flags.make
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/link.txt
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/pack.cpp.o
cmake-build-debug/shaderpack/CMakeFiles/shaderpack.dir/progress.make
cmake-build-debug/vsgl3/Makefile
cmake-build-debug/vsgl3/cmake_install.cmake
cmake-build-debug/vsgl3/libvsgl3.a
cmake-build-debug/vsgl3/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/vsgl3/CMakeFiles/progress.marks
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/CXX.includecache
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/DependInfo.cmake
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/Timer.cpp.o
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/build.make
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/clHelper.cpp.o
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/cmake_clean.cmake
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/cmake_clean_target.cmake
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/depend.internal
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/depend.make
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/flags.make
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/link.txt
cmake-build-debug/vsgl3/CMakeFiles/vsgl3.dir/progress.make
cmake-build-release/CMakeCache.txt
cmake-build-release/HydraAPP_Ex.cbp
cmake-build-release/Makefile
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/CMakeError.log
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/feature_tests.bin
cmake-build-release/CMakeFiles/feature_tests.c
cmake-build-release/CMakeFiles/feature_tests.cxx
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/3.10.3/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.10.3/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.10.3/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.10.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.10.3/CompilerIdC/a.out
cmake-build-release/CMakeFiles/3.10.3/CompilerIdCXX/a.out
cmake-build-release/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
cmake-build-release/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
cmake-build-release/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
cmake-build-release/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
cmake-build-release/CMakeFiles/FindOpenMP/ompver_C.bin
cmake-build-release/CMakeFiles/FindOpenMP/ompver_CXX.bin
cmake-build-release/hydra_app/Makefile
cmake-build-release/hydra_app/cmake_install.cmake
cmake-build-release/hydra_app/hydra
cmake-build-release/hydra_app/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/hydra_app/CMakeFiles/progress.marks
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/CXX.includecache
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/cmake_clean_target.cmake
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/DependInfo.cmake
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/build.make
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/cmake_clean.cmake
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/depend.internal
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/depend.make
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/flags.make
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/input.cpp.o
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/link.txt
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/main.cpp.o
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/main_app_console.cpp.o
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/main_app_tests.cpp.o
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/main_app_window.cpp.o
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/progress.make
cmake-build-release/hydra_app/CMakeFiles/hydra.dir/home/frol/PROG/HydraAPI/main/Timer.cpp.o
cmake-build-release/hydra_drv/Makefile
cmake-build-release/hydra_drv/cmake_install.cmake
cmake-build-release/hydra_drv/libhydra_drv.a
cmake-build-release/hydra_drv/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/hydra_drv/CMakeFiles/progress.marks
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/Bitmap.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUBilateralFilter2D.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExpLayer.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_GBuffer.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_IntegratorSSS.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_Common.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_LT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_MLT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_MMLT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_PT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_SBDPT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_ThreeWay.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CPUExp_Integrators_TwoWay.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/CXX.includecache
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/DependInfo.cmake
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLData.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLKernels.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLLayer.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLLayerMLT.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/GPUOCLTests.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/IESRender.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/IHWLayerDataAssembler.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/MemoryStorageCPU.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/MemoryStorageOCL.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/PlainLightConverter.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/PlainMaterialConverter.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_AlphaTestTable.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_AuxTextures.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_DebugBVH.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_PdfTables.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/RenderDriverRTE_ProcTex.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/bitonic_sort_gpu.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/build.make
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/cl_scan_gpu.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/cmake_clean.cmake
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/cmake_clean_target.cmake
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/depend.internal
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/depend.make
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/flags.make
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/globals_sys.cpp.o
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/link.txt
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/progress.make
cmake-build-release/hydra_drv/CMakeFiles/hydra_drv.dir/qmc_sobol_niederreiter.cpp.o
cmake-build-release/shaderpack/Makefile
cmake-build-release/shaderpack/cmake_install.cmake
cmake-build-release/shaderpack/shaderpack
cmake-build-release/shaderpack/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/shaderpack/CMakeFiles/progress.marks
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/CXX.includecache
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/DependInfo.cmake
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/build.make
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/cmake_clean.cmake
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/depend.internal
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/depend.make
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/flags.make
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/link.txt
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/pack.cpp.o
cmake-build-release/shaderpack/CMakeFiles/shaderpack.dir/progress.make
cmake-build-release/vsgl3/Makefile
cmake-build-release/vsgl3/cmake_install.cmake
cmake-build-release/vsgl3/libvsgl3.a
cmake-build-release/vsgl3/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/vsgl3/CMakeFiles/progress.marks
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/CXX.includecache
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/DependInfo.cmake
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/Timer.cpp.o
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/build.make
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/clHelper.cpp.o
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/cmake_clean.cmake
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/depend.internal
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/depend.make
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/flags.make
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/link.txt
cmake-build-release/vsgl3/CMakeFiles/vsgl3.dir/progress.make
hydra_drv/shaders/material.xx
hydra_drv/shaders/image.xx
hydra_drv/shaders/light.xx
hydra_drv/shaders/mlt.xx
hydra_drv/shaders/screen.xx
hydra_drv/shaders/sort.xx
hydra_drv/shaders/trace.xx
.idea/.name
.idea/.name
hydra_app/CMakeFiles/Makefile.cmake
hydra_app/CMakeCache.txt
hydra_app/Makefile
